*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(51, 47, 47);
  color: rgb(240, 237, 237);
}

html,
body{
  height: 100%;
  width: 100vh;
}

button{
  margin: 15px 20px;
  padding: 10px 15px;
  background-color: rgb(158, 144, 144);
}

h2{
  height: fit-content;
  width: fit-content;
  background-color: rgb(158, 144, 144) ;
  margin: 15px 20px;
  padding: 10px 15px;
  
}