*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
   color: white;
}

html,
body{
  height: 100%;
  width: 100%;
}

h1{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  text-decoration: underline;
}

body{
  background-color: black;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(73, 73, 194);
  padding: 20px 40px;
}

.nav div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}